@font-face {
  font-family: "Open Sans";
  src: url(../../public/fonts/OpenSans-Regular.ttf);
}

.about__body {
  width: 1170px;
  margin: 50px 0px 58px 171px;
}

.about__header {
  margin-bottom: 71px;
}

.about__title {
  padding: 57px 0;
  height: 150px;
  box-sizing: border-box;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  position: relative;
}

.about__title::after {
  content: '';
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  position: absolute;
  bottom: 0;
  left: 500px;
  margin: 0 0 0 -25px;
}

.about__desc {
  margin: 40px 0 0 1px;
  width: 1169px;
  height: 21px;
  padding: 1.5px 0;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 400;
  color: #86878B;
  text-align: center;
}

.about__column {
  display: inline-block;
  vertical-align: top;
  width: 370px;
}

.about__column_middle {
  margin: 0 15px;
}

.about-item__icon-container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 170px;
  height: 170px;
}

.about-item__title {
  box-sizing: border-box;
  margin: 0px 0 8px 1px;
  padding: 38px 0;
  width: 369px;
  height: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-family: "Open Sans";
}

.about-item__desc {
  height: 105px;
  text-align: center;
  font-weight: 400;
  line-height: 21.13px;
}