/*_____________________*/
/*common styles*/
/*_____________________*/
.section-title {
  box-sizing: border-box;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.section-separator {
  margin: auto;
  margin-top: -1px;
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  /* position: absolute;
  bottom: 0;
  left: 500px; */
}

.section-desc {
  margin: 40px 0 0 1px;
  box-sizing: border-box;
  height: 21px; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #86878B;
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  font-weight: 600;
  transition-duration: 0.3s;
}

.button_pink {
  color: #FFF;
  border: none;
  background-color: #EC7979;
}

.button_pink:hover {
  background-color: #AB4949;
}

.button_pink:active {
  transition-duration: 0s;
  background-color: #EC7979;
  box-shadow: inset 0px 0px 10px #AB4949;
}

.button_transparent {
  color: #FFF;
  background-color: transparent;
  border: 2px solid #FFF;
}

.button_transparent:hover {
  color: #EC7979;
  border: 2px solid #EC7979;
}

.button_transparent:active {
  transition-duration: 0s;
  background-color: #AB4949;
  color: #FFF;
  border: none;
}
/*_____________________*/
/*tabs section styles*/
/*_____________________*/

.tabs-wrapper {
  padding: 99px 170px 25px;
}

.tabs {
  max-width: 1170px;
}

.tabs__header {
  display: flex;
}

.tabs__column {
  box-sizing: border-box;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  width: 203px;
  text-align: center;
}
  
.tabs__column_active {
  border: 1px solid #C6CBCD;
  border-bottom: none;
  position: relative;
}

.tabs__column_active::after {
  content: '';
  width: 201px;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.tabs__content {
  display: flex;
  justify-content: space-between;
  border: 1px solid #C6CBCD;
  padding-top: 1px;
}
  
.tabs__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 0px 54px 100px;
}
  
.tabs__title {
  box-sizing: border-box;
  height: 124px;
  display: flex;
  align-items: center;
  width: 570px;
}
  
.tabs__desc {
  height: 210px;
}
  
.tabs__button {
  max-width: 270px; 
  height: 58px;
}

.tabs__img {
  display: block;
}

/*_____________________*/
/*about section styles*/
/*_____________________*/

.about-wrapper {
  padding: 25px 169px 58px 171px;
}

.about {
  max-width: 1170px;
}

.about__header {
  margin-bottom: 71px;
}

.about__footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-column {
  width: 370px;
}

.about-column__icon-container {
  display: flex;
  justify-content: center;
}

.about-column__title {
  margin: 0px 0 8px 1px;
  box-sizing: border-box;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-column__desc {
  height: 105px;
  text-align: center;
}

/*_____________________*/
/*pricing section styles*/
/*_____________________*/

.pricing-wrapper {
  margin-left: 2px;
  background-color: #F5F5F5;
  padding: 50px 170px 50px 168px;
}

.pricing {
  max-width: 1170px;
}

.pricing__header {
  margin-bottom: 79px;
}

.pricing__footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.pricing__column {
  width: 370px;
  transition-duration: 0.5s;
}

.pricing__column:hover {
  transform: translate(0, -20px);
}

.pricing__column-title {
  box-sizing: border-box;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: #FFFFFF;
  border: 2px solid #F5F5F5;
}

.pricing__column-price {
  box-sizing: border-box;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: #FFFFFF;
  border: 2px solid #F5F5F5;
}
.pricing__item-list {
  list-style: none;
}

.pricing__item {
  box-sizing: border-box;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  color: #86878B;
  font-weight: 400;
  border: 2px solid #F5F5F5;
}

.pricing__item:first-child {
  background-color: #333333;
  color: rgba(255, 255, 255, 0.5);
}

/*_____________________*/
/*reviews section styles*/
/*_____________________*/

.reviews-wrapper {
  padding: 50px 170px 64px;
}

.reviews {
  max-width: 1170px;
}

.reviews__header {
  margin-bottom: 83px;
}

.reviews__footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reviews__column {
  width: 370px;
}

.reviews__text {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E2E2E2;
  color: #86878B;
  border-radius: 10px;
  position: relative;
}

.reviews__text::after {
  content: '';
  background: #E2E2E2;
  position: absolute;
  left: 70px;
  bottom: -10px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}

.reviews__author {
  margin-top: 66px;
  display: flex;
  justify-content: space-between;
}

.reviews__author-info {
  width: 270px;
}
.reviews__author-name {
  height: 54px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.reviews__author-position {
  height: 21px;
  display: flex;
  align-items: center;
}

/*_____________________*/
/*banner section styles*/
/*_____________________*/

.banner-wrapper-background {
  background-image: url('../public/img/banner/banner.svg');
}

.banner-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px 170px;
}

.banner {
  max-width: 1170px;
}

.banner__header {
  margin-bottom: 73px;
}

.banner__title {
  color: #FFF;
}

.banner__separator {
  background-color: #FFF;
}

.banner__desc {
  color: #FFF;
}

.banner__footer {
  display: flex;
  justify-content: center;
}

.banner__button {
  width: 370px;
  height: 58px;
}